body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    height: auto;
}
h1 {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
h3 {
    text-transform: uppercase;
}
h4 {
    writing-mode: vertical-rl;
    position: absolute;
    bottom: 95px;
    left: calc(50% - 40px);
}
p {
    padding-bottom: 25px;
    width: 70%;
    font-size: 0.875rem;
    line-height: 1.5;    
}
img {
    width: 100%;
    height: auto;
    background-image: url(./src/assets/Scarecrow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
span {
    font-weight: 600;
    font-size: 0.875rem; 
}
.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.group_team {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.team2 {
    padding-top: 80px;
}
